<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
      <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
  </head>

  <body>
    {% include 'github.html' %}
    <nav>
      <ul>
        <li>
          <a href="{{ SITEURL }}/" class="navbar-brand">
            {% if SITELOGO %}
              <img id="logo" alt="{{ SITENAME }}"
                   width="{{ SITELOGO_WIDTH }}" height="{{ SITELOGO_HEIGHT}}"
                   src="{{ SITEURL }}/{{ SITELOGO }}" />
            {% endif %}
          </a>
        </li>
        
        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} :{% endif %}</li>
          {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% if categories|length > 1 %}
            <li>: <a href="{{ SITEURL }}/categories.html">Categories</a></li>
          {% endif %}
        {% endif %}
      </ul>
    </nav>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
